body {
    color: #000055;
    background-color: #ffffff;
    margin: 1em 2em;
}

a {
    color: #0000ff;
}
a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:active {
    color: #ff0000;
}

a.menu {
    color: #0000ff;
}
a.menu:link {
    color: #0000ff;
}
a.menu:visited {
    color: #000099;
}
a.menu:active {
    color: #ff0000;
}
a.menu:hover {
    color: #ff0000;
}

div.title {
    padding-bottom: 2em;
}

div.menu {
    position: absolute;
    background-color: #ccccee;
    border-bottom: 3em solid #ffffff;
    padding: 0.5em 1em;
    width: 12em;
/*    position: fixed;
    background-color: #ccccee;
    border-bottom: 3em solid #ffffff;
    padding: 0.5em 1em;
    width: 18%;
*/
}

div.main {
    position: absolute;
    left: 16em;
    background-color: #ccccff;
    margin: 0em 1em;
    border-bottom: 3em solid #ffffff;
    padding: 1em;
/*    position: fixed;
    right: 2%;
    background-color: #ccccff;
    margin: 0em 1em;
    border-bottom: 3em solid #ffffff;
    padding: 1em;
    width: 65%;
*/
}

div.minimal_information {
    text-align: center;
}

h1.title {
    margin: 0em;
    letter-spacing: 0.2em;
}

td {
    padding: 0.3em 1em;
}

td.sponsor_banner {
    background-color: #eeffee;
}

td.sponsor_name {
    background-color: #ffeeee;
}

span.title {
    border-color: #2222bb #eeeeff;
    border-width: 0.15em;
    border-style: solid;
    padding: 0em 0.5em;
}

span.menu-title {
    color: #2222bb;
    background-color: #eeeeff;
    margin: 0.2em 0em;
    border-color: #444488;
    border-width: 0.1em 0em;
    border-style: dashed;
    padding: 0.1em 0.3em;
    display: block;
}

span.menu-item {
    color: #000088;
    font-size: smaller;
    display: block;
}

strong.subtitle {
    border-bottom-color: #2222bb;
    border-bottom-width: 0.1em;
    border-bottom-style: dotted;
}

strong.important {
    color: #ff0000;
}

img {
    border-style: none;
}
